@font-face {
    font-family: iranSans;
    src: url('../font/IRANSansWeb.ttf') format('truetyppe'),
    url('../font/IRANSansWeb.woff') format('woff')
}
body{
    font-family: iranSans;
}

.allObj {
  display: flex;
  flex-direction: column;
}
.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navBar img {
  width: 5%;
  height: 5%;
  flex-basis: 10%;
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-basis: 30%;
}
.menu li {
  text-decoration: none;
  display: inline-block;
}
.menu li a {
  text-decoration: none;
  font-family: iranSans;
}
.menu input {
  display: flex;
  flex-basis: 20%;
}

.middle{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middle1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icons{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

